<section
  class="container-with-img sepia_overlay "
  style="background: url('./assets/sky.svg') no-repeat center; background-size: cover;background-attachment: fixed;"
  id="home"
>
  <div class="sectionBlock white fullH">
    <h1 class="title">duolingo</h1>
    <div class="container_description opacity">
      a higher standard
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="center"
      fxLayoutGap="30px"
      fxLayoutGap.xs="10px"
    >
      <img src="./../../../assets/DH1.png" alt="" />
      <img src="./../../../assets/DH2.png" alt="" />
    </div>
    <div class="floatRight" fxLayoutAlign="end">
      By Brittiny Carvajal <br />
      UI/UX Designer
    </div>
    <div class="paddingTop">
      Disclaimer: I am not an employee of Duolingo and this does not represent
      the official strategic direction of Duolingo.
    </div>
  </div>
</section>

<section class="leftJ section blueBG lgs scope">
  <div class="textBlock">
    <h3 class="black">Project Scope:</h3>
    <div>
      <ul>
        <li>
          My Role: User research, product enhancement, and interactive design
        </li>
        <li>Tools: Sketch, InVision, Mirror, Adove XD, and Zeplin</li>
        <li>Team: Me</li>
        <li>Timeline: Summer 2019 (3 weeks)</li>
        <li>Deliverables: Sketches, mock ups, research findings</li>
      </ul>
    </div>
  </div>
</section>
<section class="leftJ section">
  <div class="textBlock">
    <h3 class="black">The Problem</h3>
    <div>
      Users are not learning a second language through apps like Duolingo
      because they do not dedicate enough time to their studies.
    </div>
  </div>
</section>

<section
  class="container-with-img sepia_overlay white"
  style="background: url('./assets/sky-2.svg') no-repeat center; background-size: cover;background-attachment: fixed;"
>
  <div class="section textBlock">
    <h3>Solution</h3>
    <div>
      Make learning fun. Duolingo has done a pretty good job at this. The
      reminders and extra circular activates now also have to be fun. Polyglot
      Alex Redfern stated in his interview that learning a language takes
      motivation, time, and effort. The user has to enjoy the process to succeed
      at these three key ingredients.
    </div>

    <h3>Forming a Hypothesis</h3>
    <div>
      These past few years I have been married to a Latino and his parents only
      speak Spanish. I was born and raised in California where I took extra
      English classes and did not have to take any Spanish classes until I was
      in college, where I never spoke Spanish. I spent hours making flash cards
      and taking tests where I practically just reiterated back to the professor
      what I had memorized or even worse, could only recognize. Before digging
      super deeply into my problem, I know it is important to state a problem
      hypothesis and then test it. Testing the hypothesis lets me develop a
      stronger understanding for the problem, discover what other users have
      experienced through Duolingo, see what they would recommend, and then
      identify if this is a problem worth solving.
    </div>

    <div class="grayBG black subSection">
      <div class="hypothesis ">
        <h3 class="black">My Hypothesis</h3>
        <div>
          I believe Duolingo users would be more dedicated to learning the
          language that they want to learn if the learning did not feel like a
          daily choir, more like an activity that they look forward to doing
          such as reading, writing, texting, listening, and talking—but in the
          way that user thinks is fun.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="leftJ section">
  <div class="textBlock">
    <h1 class="black">Gathering Information</h1>
    <h3 class="black">User Research</h3>
    <div>
      While I develop my hypothesis, I ask myself questions like, who are the
      people who use Duolingo, what kind of experience are they having, are they
      able to be dedicated to the lessons, what type of feedback will I need to
      get to see if my hypothesis is valid?
    </div>

    <h3 class="black">User Interviews</h3>
    <div>
      I had a total of three Duolingo users in person to complete the face to
      face interviews. I asked questions like, “How often do you think to use
      Duolingo?” “Do you go days without using it, why?” “What would you add or
      change if you could on Duolingo?” “Have you thought of changing programs
      to see if they are better; have you changed?” “Was it better and why?”
    </div>
    <h3 class="black">Online Research</h3>
    <div>
      Fluent posted an article stating lots of reasons to like Duolingo, but
      they also said why they did not enjoy it. Their main reason was, “It’s the
      Vocab”. They do not like the sentences that the app is teaching. They find
      them to be useless sentences. Lorne commented on the article saying she
      used it for six months before her trip to Brazil and was able to talk to
      taxi drivers, ask for directions, and hold simple conversations. Andras
      Toth comments that Duolingo is good for beginners, learning the basic
      language, but the app should obviously be supplemented with extra
      resources. Another article by Brent Van Arsdell states that if you do
      Duolingo for five minutes a day, that is the amount you will forget a day.
      He suggests doing it for three to four hours a day. The Linguist says that
      he got very frustrated because he is not a beginner and he was stuck
      learning random simple sentences when he wanted to learn sentences he
      could use. He says that it is too time consuming to get to the lessons he
      needs/wants.
    </div>
  </div>
</section>

<section class="leftJ section blueBG" style="height: 250px">
  <div class="textBlock">
    <h3 class="black">Key insights:</h3>
    <div>
      The users forget about the app. They do want to learn the language, but
      they do not want to put the effort into it. Some of the users have changed
      and found that they thought the other app or system was working better,
      but they concluded that it was working better because it was new and they
      were excited to use it so they used it more often and sometimes longer.
      Duolingo needs to be used for a lot more than five minutes a day. The
      content is not what the user would use in the real world (‘the bird is
      here’ opposed to learning the sentence, ‘how was your day today?’) Users
      don’t want to be stuck on the beginner levels if they aren’t a beginner.
    </div>
  </div>
  <div fxLayoutAlign="end" style="top: -">
    <img src="../../../assets/Sweatband.png" class="paddingR" />
  </div>
</section>

<section class="leftJ section">
  <div class="textBlock">
    <h3 class="black">The Opportunity</h3>
    <div>
      The findings of my research lead me to the conclusion that hundreds of
      users are trying to learn a language through Duolingo, however; they are
      frustrated that they are not learning the language to a fluency that can
      be used in the languages native land. If we solve the problem that users
      are not dedicating enough time to their studies, customers satisfaction
      will increase.
    </div>
    <h3 class="black">Design Goals</h3>
    <div>
      Make learning not feel like learning Help customers understand what they
      like to do to learn a language such as watching t.v. or reading a book in
      that language. Help users understand they need outside sources The slogan
      is “Five minutes a day”, what is should be is, “Five minutes a day, one
      episode of (TV show), and a chapter in a recommended book”. Make learning
      feel worth their time Teach the students on the level that they are and
      teach them phrases and words that improve their vocabulary in a way they
      can use in the real world.
    </div>
    <h3 class="black">Persona Development</h3>
    <div>
      Creating personas is important to me so that I can remember the who the
      design is aimed towards. These personas help me refer back to my original
      thoughts and feelings I had when I was interviewing and researching
      Duolingo users.
    </div>
  </div>
</section>
<img src="../../../assets/Dpersonas.png" alt="" />

<section class="leftJ section">
  <div class="textBlock">
    <h3 class="black">User Journey Map</h3>
    <div>
      By laying out the journey map that users go on, I am able to see multiple
      pain points instead of the few that I have encountered myself. I like to
      also find potential pain points at this point and see if I can catch them
      and add them to the design process now instead of later.
    </div>
  </div>
</section>
<img class="section" src="../../../assets/dJourney.svg" alt="" />

<section class="leftJ section blueBG exploreS">
  <div class="textBlock">
    <h3 class="black">Exploring Ideas</h3>
    <div>
      After spending a fair amount of time getting to know the users, the
      lovers, and the haters, I wrote down all the ideas that I could think of.
      I wanted to broaden the horizon on the possibilities to fix the problem
      that users are not learning a second language through apps like Duolingo
      because they do not dedicate enough time to their studies.
    </div>

    <div
      class="white subSection"
      style="background: url('./assets/tiny-sky.svg') no-repeat center; background-size: cover;"
    >
      <div class="hypothesis">
        <h3>How Might We Question:</h3>
        <div>
          How might Duolingo users wanting to learn a new language ensure they
          spend enough time to learn it?
        </div>
      </div>
    </div>
    <div class="paddingTop">
      The umbrella answer is, to create ways that are fun to the user so they
      spend more time using the language they are trying to learn. Ideas on how
      to create the include:
    </div>
  </div>

  <img class="paddingL" src="../../../assets/Jumping.png" alt="" />
</section>

<section class="leftJ section ">
  <div class="textBlock">
    <h4 class="black">Idea 1</h4>
    <div>
      Make the reminder popup with a word that the user can learn. Have a popup
      a few times a day to teach the user a word every time. These words go into
      a word bank that can be clicked on in Duolingo to be reviewed when wanted.
    </div>
    <strong>Pros </strong>
    <div>
      If the user glances at it they will see the word and if they give it a
      minute they can read the definition and the sentence it is used in (in the
      foreign language). Maybe some of the words will stick and it won’t take a
      long time to read through.
    </div>
    <strong>Cons</strong>
    <div>
      The user might not read it at all before they clear it out.
    </div>

    <h4 class="black">Idea 2</h4>
    <div>
      Take a fluency test to determine what level the user is on. Can be retaken
      at any time. Let users decide what level they are on.
    </div>
    <strong>Pros</strong>
    <div>
      This would help users to enter in the level that would be most helpful for
      them making the lessons more time worthy and the words and phrases more
      useful to were the user is at in the learning process. If you can take it
      anytime, if you mess up or are accidentally a super star the first time,
      you can take it again and see what happens.
    </div>
    <strong>Cons</strong>
    <div>
      The user might test too high and then the lessons will be too hard or test
      too low and it will be how it is now.
    </div>
  </div>
</section>

<section
  class="container-with-img sepia_overlay white"
  style="background: url('./assets/sky-3.svg') no-repeat center; background-size: cover;background-attachment: fixed;"
>
  <div class="section textBlock">
    <h4>Idea 3</h4>

    <div>
      Recommend books, podcasts, TV shows, and music the user should read/listen
      to.
    </div>
    <strong>Pros </strong>
    <div>
      This will guide users to outside sources that are in the user’s level so
      it will be more fun because the user will understand it therefore want to
      use it.
    </div>
    <strong>Cons</strong>
    <div>
      How would you do this without having it take over the app (in the design
      process) and how will the users get the books or shows etc.?
    </div>

    <h4>Idea 4</h4>
    <div>
      Give the user a texting buddy. If the user doesn’t want a real person, set
      up so user can text with the owl from Duolingo. (Premade discussions—lots
      of them). Split the screen so you can see the translation of the texts.
    </div>
    <strong>Pros</strong>
    <div>
      Users will have someone (or the robot) to text so that they can practice
      what they learn. The split screen (for translation) will help users see
      where they are messing up in their texts giving them a chance to fix it
      right then and learn from their mistakes. Hopefully this could learn to
      phone conversations or meetups (as long as it is safe).
    </div>
    <strong>Cons</strong>
    <div>
      The screen might be too cluttered. What if the user’s texting buddy never
      responds?
    </div>
    <h4>Idea 5</h4>
    <div>
      MORE talking. People say they took years of a language in high school and
      college and can’t speak a word of it. Make the users talk talk talk. Have
      whole speaking lessons, where all the user does is talk and repeat
      sentences. Have a level where users respond to the phrase being said
      instead of repeating it.
    </div>
    <strong>Pros</strong>
    <div>
      They say the best way to learn a language is to speak it. If the app is
      making you speak, you have something to speak. If you learn phrases it can
      lead to conversations.
    </div>
    <strong>Cons</strong>
    <div>
      Some people are not comfortable speaking new languages. You can’t always
      speak in public.
    </div>
  </div>
</section>

<section class="leftJ sectionBlock">
  <div class="textBlock">
    <h3 class="black">Ideas to Move Forward With</h3>
    <div>
      Make the reminder popup with a word that the user can learn. Recommend
      books, podcasts, TV shows, and music the user should read/listen to. Give
      the user a texting buddy. Have a level where users respond to the phrase
      being said instead of repeating it.
    </div>
    <h3 class="black">Why I did NOT Choose Idea Two</h3>
    <div>
      Idea two already exist in Duolingo. Users have to pay more to do it.
    </div>
    <h3 class="black">Why did I Move Forward with These Four Ideas?</h3>
    <div>
      These ideas demonstrate how to reach the main values that are proposed for
      the next Duolingo enhancement.
    </div>
    <ul>
      <li>
        <strong>Valuable Knowledge</strong> – with the ability to speak more,
        learn from sources that native speakers are using, and practice
        responding, users will be able to take the knowledge they learn here
        into the street.
      </li>
      <li>
        <strong> Memorable</strong> – with the option of spending more time
        learning more words, sentences, and phrases, more of the lesson learned
        that day will be remembered for the next time the user comes back.
      </li>
      <li>
        <strong>Product Differentiation</strong> – by having outside sources and
        an option to respond to the phrases, users will have a unique experience
        that will prepare them for conversations in the desired language.
      </li>
    </ul>
    <h3 class="black">User Flow Diagram</h3>
    <div class="paddingB">
      I like to get my user flow diagram mapped out here. It helps me to start
      thinking about the process that the user will go through to achieve the
      desired tasks. I try to think how the steps would look like to the user. I
      also try to identify if I am going to have to change any of the original
      screens and how.
    </div>
  </div>
  <img src="../../../assets/dStars-3.jpeg" alt="" />
</section>

<section class="leftJ section blueBG pondering">
  <div class="textBlock">
    <h3 class="black">Old and New Screens</h3>
    <div>
      In this case, I will need to change the reminder screen to the new design
      and the homepage screen to include a new icon. I don’t want to change the
      feel it already has so I am using a lightbulb that can be found in other
      parts of the lesson to add the new features. I also will create a new Duo
      for my new speaking class.
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="30px"
    fxLayoutGap.xs="10px"
    class="paddingTop"
  >
    <img src="./../../../assets/Old 1.png" alt="" />
    <img src="./../../../assets/New 1.jpeg" alt="" />
    <img src="./../../../assets/Old 2.png" alt="" />
    <img src="./../../../assets/New 2.png" alt="" />
  </div>
  <img class="lgp" src="../../../assets/Pondering.png" alt="" />
</section>

<section class="leftJ section underFloating">
  <div class="textBlock">
    <h3 class="black">Things to Consider</h3>
    <div>
      I do this step in order to think of small details that I haven’t realized
      might be a problem yet. Here are a few of the considerations I came up
      with:
      <ul>
        <li>Where will the outside sources come from?</li>
        <ul>
          <li>Will we tell users where to find them?</li>
        </ul>
      </ul>
      <ul>
        <li>
          Will there be enough people signing up for a text buddy to have a text
          buddy?
        </li>
        <ul>
          <li>
            What happens if someone wants a text buddy but there is no one else
            signing up for a text buddy?
          </li>
          <ul>
            <li>
              What if these two people decide to meet up and someone gets hurt,
              is that on me?
            </li>
          </ul>
        </ul>
      </ul>
      <ul>
        <li>What if the robot is boring to text?</li>
        <ul>
          <li>
            How would we make that conversation fun and how would the robot know
            what to respond?
          </li>
        </ul>
      </ul>
      The speaking lesson, we will need to have multiple answers that are
      accepted because it would be no fun for the user to have to read the
      robots mind to get it right.
    </div>
    <h3 class="black">Answers</h3>
    <div>
      The outside sources can be from anywhere. People can look up books at
      their libraries, find music on whatever app they have chosen, and look up
      podcasts on whatever outlet they use. So, we kind of tell them by saying,
      “Here is a book recommended for you, look for it in your library.” If not
      enough people sign up to be text buddies, then we can just have the robot.
      If people decide to meet, that is on them (just like if they meet each
      other on other apps). Duolingo can use the same programs that the help
      robots found in the bottom of company pages uses. They seem to have
      multiple answers and are fairly on topic. Let the user choose the
      response, but that could be boring and not fun for the user.
    </div>
    <h3 class="black">New Things to Consider</h3>
    <div>
      What if they don’t have a library by them? Can they find the books online?
      Should there be an amount of time between receiving a text and sending a
      text so the other person doesn’t have to keep waiting when they really
      want to practice? How will we show the correct answers? (Give the phrase
      that needs to be in the sentence, show examples.
    </div>
    <h3 class="black">Sketching and Wireframing</h3>
    <div>
      Once I researched and explored solutions to the ideas, I wanted to test
      these ideas with Duolingo users. I did some qualitative testing with my
      users on a few screens. I used Sketch to create my prototypes and mock up
      my screens. I conducted usability test with four users.
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="30px"
    fxLayoutGap.xs="10px"
    class="paddingTop"
  >
    <img src="./../../../assets/Books Hand Sketch.png" alt="" />
    <img src="./../../../assets/Books Mid Fidelity.png" alt="" />
    <img src="./../../../assets/Books High Fidelity.png" alt="" />
  </div>
</section>

<section
  class="container-with-img sepia_overlay white paddingB "
  style="background: url('./assets/sky-2.svg') no-repeat center; background-size: cover;background-attachment: fixed; padding-bottom: 15rem;"
>
  <div class="section textBlock">
    <h3>Research Findings:</h3>
    <ul>
      <li>
        Users like the idea of being able to text a buddy. They however did not
        like the way the screen was presented and expressed that they would not
        use that feature if it looked like it did. It was too hard to read.
      </li>
      <li>
        Users want to know if they will be able to try the speaking sections
        they get wrong again right away.
      </li>
    </ul>

    <div
      fxLayout="row"
      fxLayoutAlign="center"
      fxLayoutGap="30px"
      fxLayoutGap.xs="10px"
      class="paddingTop"
    >
      <img src="./../../../assets/dr1.png" alt="" />
      <img src="./../../../assets/dr2.png" alt="" />
      <img src="./../../../assets/dr3.png" alt="" />
      <img src="./../../../assets/dr4.png" alt="" />
      <img src="./../../../assets/dr5.png" alt="" />
      <img src="./../../../assets/dr6.png" alt="" />
    </div>
    <h3>Usability Issue:</h3>
    <div>
      Users did not like that only two words would fit on a line when trying to
      text and find the translation.
    </div>
    <h3>Design Decision:</h3>
    <div>
      Make the translation pop up behind the text after choosing the translation
      button. It will look like the user is texting themselves to make it not
      confusing that the text behind the edit field is the translation of the
      edit field.
    </div>
  </div>
</section>

<section class="leftJ section workFlow">
  <div class="center">
    <img class="" src="./../../../assets/Old Idea Split Screen.png" alt="" />
  </div>

  <div class="center">
    OLD WORK FLOW
  </div>
  <div
    fxLayout="row"
    fxLayoutAlign="center"
    fxLayoutGap="30px"
    fxLayoutGap.xs="10px"
    class="paddingTop"
  >
    <img src="./../../../assets/New Work Flow 1.png" alt="" />
    <img src="./../../../assets/New Work Flow 2 .png" alt="" />
    <img src="./../../../assets/New Work Flow 3.png" alt="" />
    <img src="./../../../assets/New Work Flow 4.png" alt="" />
    <img src="./../../../assets/New Work Flow 5.png" alt="" />
  </div>
  <div class="center">
    NEW WORK FLOW
  </div>
  <div class="textBlock">
    <h3 class="black">Feedback</h3>
    After making the design change to create a better feeling for the user, I
    presented my prototypes to two users. I received the following responses:

    <ul>
      <li>
        “Wow, these are such good ideas. They fit right into Duolingo’s style.
        Duolingo should hire you!” -Tami
      </li>
      <li>
        “These practices would help me know what to do to learn more Portuguese.
        I recommend that you fix the spacing in your outside sources” -Joshue
      </li>
    </ul>
  </div>
</section>

<section class="leftJ section blueBG">
  <div class="textBlock">
    <h3 class="black">Revisit the Persona Problem</h3>
    <div>
      Now when the user gets notifications from Duolingo, he reads the daily
      phrase—even if he stops there he still earned something. However, he opens
      the app and does a few lessons. Later on in the day Kevin (his texting
      buddy) sends him a message. Our user opens his message and spends a few
      minutes typing out the text he wants. Even though he does not spend a lot
      of time doing the lessons in Duolingo, he is learning more and more every
      day little by little. Our user is beating the problem, he is learning a
      language through a phone app like Duolingo.
    </div>
  </div>
  <div fxLayoutAlign="end" class="paddingR">
    <img class="lg1" src="../../../assets/TinyHearts.png" alt="" />
  </div>
</section>

<section class="leftJ section video">
  <!-- video -->
  <div class="center">
    <video
      autoplay
      loop
      src="./../../../assets/Duo 1.mov"
      type="video/mp4"
      width="220"
    ></video>
  </div>

  <div class="section textBlock">
    <h3 class="black">What Went Well?</h3>
    <div>
      Having a vague knowledge of what language learners are hoping to achieve
      and in what time frame. Research, learning more about what learners
      actually have to do to learn the language. Ideas to get the users
      accomplishing those goals.
    </div>
    <h3 class="black">What Was Hard and Could Have Gone Better?</h3>
    <div>
      Making the ideas look acceptable on a phone screen. Coming up with icons
      and symbols that go within the Duolingo style guide. Getting users to have
      negative criticism to help my design and ideas have a better flow to them.
    </div>
    <h3 class="black">What I Learned</h3>
    <div>
      I could have studied Duolingo’s app longer before diving in. I did look up
      their style guide, but it is old and does not fit the app anymore. I could
      have learned more from getting opinions from users of different language
      apps. It could have helped me to come up with solutions or ideas that
      other apps are trying to use. Of course, the more people that test it, the
      better!
    </div>
  </div>
</section>

<section
  class="container-with-img sepia_overlay "
  style="background: url('./assets/footerSky.svg') no-repeat center; background-size: cover;"
  id="home"
>
  <div class="sectionBlock white leftJ footer" fxLayoutAlign="end">
    <div>
      <h1 class="title">duolingo</h1>
      <div class="container_description opacity">
        a higher standard
      </div>
      By Brittiny Carvajal <br />
      UI/UX Designer
    </div>
  </div>
</section>
