@import "./../../../layout.scss";

.title {
  font-size: 68px;
}
.container_description {
  padding-bottom: 4rem;
  font-size: 48px;
}

.opacity {
  opacity: 0.7;
}

.fullH {
  height: 100vh;
}

.disclaimer {
  font-size: 10px;
}

.lg1 {
  position: relative;
  top: 150px;
}

.section {
  padding: auto;
}

.grayBG {
  background: #d8d8d8;
}
.hypothesis {
  padding: 2rem;
}
.screens {
  position: relative;
  top: 375px;
}
ul {
  margin-top: 0;
  li {
    list-style-type: none;
  }
}

.workFlow {
  top: -300px;
  margin-bottom: -300px;
}

.video {
  top: -250px;
  margin-bottom: -250px;
}

.lgs {
  &::after {
    height: 0px;
    position: relative;
    display: flow-root;
    top: -15px;
    padding-left: 2rem;
  }
}

.scope::after {
  content: url(../../../assets/Glasses.png);
}

@media #{$above-small} {
  .row-header {
    margin-top: 24px;
  }
  .row-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
    &.tall-cards {
      min-height: 265px;
    }
  }

  .floatRight {
    position: relative;
    top: -70px;
  }
  .pondering {
    height: 300px;
  }
  .exploreS {
    height: 480px;
  }
  .insights {
    height: 300px;
  }
  .lgp {
    top: -230px;
    padding-left: 2rem;
    position: relative;
  }
  .underFloating {
    margin-top: 10rem;
  }
  .footer {
    padding-right: 8rem;
  }
}

@media #{$above-large} {
  .row-contents {
    grid-template-columns: repeat(3, 1fr);
  }
  .subSection {
    margin-top: 2rem;
    width: 60%;
  }
}

.row-contents {
  display: grid;
  grid-row-gap: 8px;
  max-width: fit-content;
  margin: 0 auto 0 auto;
}
