mat-grid-tile{
  &:hover{
    opacity: .5;
    filter: grayscale(100%) sepia(100%);
    -webkit-filter: grayscale(100%) sepia(100%);
  }
}

mat-grid-list{
  margin-bottom: 2rem;
}

.mat-dialog-container .noPadding{
  padding: 0;
}

