<section
  class="container-with-img sepia_overlay"
  style="background: url('https://image.ibb.co/ed9vvw/page_1.jpg') no-repeat center; background-size: cover;background-attachment: fixed;"
  id="home"
>
  <div class="sectionBlock">
    <h1 class="title">
      I'm Brittiny Carvajal. <br />I am a UI/UX designer <br />based in Utah.
    </h1>
    <div class="container_description">
      Let me bring art and beauty to your software app and give your users an
      awesome experience
    </div>
  </div>
</section>

<section id="about">
  <div class="sectionBlock">
    <div class="aboutMe">
      <h1 class="black">More About Me</h1>
      <p class="lead">
        Hey guys, I am a UI Designer located in the heart of the Silicon Slopes
        here in Lehi, UT. After dedicating more than 500 hours to learning the
        art of UI Design, I am proud to announce that I am ready to immerse
        myself into my chosen career.
      </p>
    </div>

    <div fxLayout="row" class="row about-content">
      <div class="col-six tab-full left" fxFlex="50%">
        <h3>What's up!</h3>

        <p></p>

        <p>
          I have always wanted a job that I love to do, a job that inspires
          growth, and a career I want to fulfill--to grow in. UI Design is that
          answer. I am excited to bring my past office experience and present
          artistic drive, to create a future full of promise not only for me,
          but also for you. ​
        </p>
        <p>
          In my free time, I enjoy calm activities such as reading, blogging,
          and drawing; however, I am also an adrenaline junky who loves rock
          climbing, sky diving, zip-lining, bungee jumping, and of course very
          large roller coasters.
        </p>
        <p>
          With all that being said, my passion--is to create art. Not only
          create art, but to see art around the world. The different people,
          culture, art, music, and food is my muse. ​
        </p>
        <p>
          I appreciate you spending the time to get to know me a little. I look
          forward to returning the favor.
        </p>
      </div>

      <div class="col-six tab-full right" fxFlex="40%">
        <h3 class="black">I've Got Some skills.</h3>
        <app-skill-list></app-skill-list>
      </div>
    </div>
  </div>
</section>

<section id="portfolio"
  class="container-with-img sepia_overlay"
  style="background: url('../../assets/stars.jpg') no-repeat center; background-size: cover;background-attachment: fixed;"
>
  <div class="sectionBlock">
    <div class="aboutMe">
      <h3>PORTFOLIO</h3>
      <h1>Take a look at my latest projects.</h1>
      <p class="lead">
        Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea
        dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip
        quis qui voluptate dolore veniam Ut laborum non est in officia.
      </p>
    </div>
    <app-project-grid></app-project-grid>
  </div>
</section>

<section
  id="testimonials"

>
  <div class="sectionBlock">
    <div class="aboutMe">
      <h3 class="black">Let them tell you about me</h3>
    </div>
  </div>
</section>
<app-footer></app-footer>
