.uk-card{
  text-align: left;
  background: #f4f6f7;
}

uk-grid{
  align-items: stretch;
}

.expand{
  max-height: none !important;
}

.uk-card-body, p{
  max-height: 200px;
}

p{
  height: inherit;
  overflow: hidden;
  line-height: 2;
}

:host{
  padding-top: 2rem;
  display: block;
}
