<div class="header">
  <div class="logo">
    <img src="./assets/a-4.png" alt="" />
  </div>
</div>

<section class="section leftJ ">
  <div class="textBlock">
    <h3>Context</h3>
    <div>
      Welcome to <strong>Achieve </strong> <span> It</span> app, a new way to
      reach your goals:

      <ul>
        <li>
          Recognize the progress you are making towards reaching your goals by
          creating a personalized dream board and setting reminders to keep you
          on track.
        </li>
        <li>Journal through the app about your progress.</li>
        <li>
          Play your dreams through our visualize feature. A feature that plays a
          movie of your chosen pictures and words quickly before your eyes—a
          scientific way to embed your goals into your subconscious.
        </li>
      </ul>
    </div>
  </div>
  <!-- video -->
  <div class="center">
    <video
      autoplay
      loop
      src="./assets/Achieve It Video.mp4"
      type="video/mp4"
      width="220"
    ></video>
  </div>
</section>

<section class="leftJ section blueBG">
  <div class="textBlock">
    <h3>Project Scope</h3>

    <ul>
      <li>My role: Interactive design and User Experience</li>
      <li>Team: Me</li>
      <li>Timeline: May 2019 (2 weeks)</li>
      <li>Deliverables: Sketches, mock ups, research findings</li>
    </ul>

    <h3>The Problem</h3>
    <div>
      Goal achievers have lots of choices for goal-oriented apps, but not all
      the apps are set up in a way where you can put any goal you have in it and
      achieve it before losing interest or getting discouraged.
    </div>
    <h3>The Solution</h3>
    <div>
      <strong>Achieve </strong> <span> It</span> app is equipped with features that help users remember their goals and
      stay on target such as a “7 Step” program, personalized and required
      reminders, and a built-in journal—all features that will help with any
      goal.
    </div>
  </div>
</section>
<section>
  <img class="styleGuide whiteBG" src="./assets/Opening.png" alt="" />
</section>
<section class="leftJ section blueBG">
  <div class="textBlock">
    <h3>Competitive Analysis</h3>

    <div>
      In order to reach a hypothesis on what I believe, I completed a thorough
      competitive analysis. I found that the competitors have fun uplifting apps
      that make the user feel excited about reaching their goals. Positive
      criticism about the competitors included image choices—does it fit in the
      brand and is it too much for the page, too many colors, and the dream
      boards are not fun to work with because they are bulky and or cannot be
      moved to fit the user.
    </div>
    <div>
      <strong>Achieve </strong> <span> It</span> wants the users to feel excited and happy, but also wants the users to
      take this opportunity to grow seriously. Positive learning included app
      tutorials, changing picture positions, and options for the user to be
      directed to the internet through the app in order to learn more about
      their goal.
    </div>
    <div>
      Ideas: Have three main pages; a dream board, a built-in journal, and a
      visualize option where the images will be flashed for as long as the user
      chooses in order to help them remember their goals.
    </div>
    <h3>My Hypothesis</h3>
    <div>
      I believe <strong>Achieve </strong> <span> It</span> users will reach a higher percentage of reaching their goals
      because the features this app possesses.
    </div>
    <h3>User Flows</h3>
    <div>
      Three user flows were created with the end goal in mind. Creating user
      flows helps me to get the flow of the app started. User flows bring the
      first pain points to my attention such as needing to add a microphone or
      video settings to the flow in order to reach the desired outcome of each
      flow.
    </div>
  </div>
  <img src="./assets/User Flow.png" alt="" />
</section>
<section class="leftJ section">
  <div class="textBlock">
    <h3>Wireframe</h3>
    <div>
      With three destination goals previously mapped out through the user flow
      diagrams, I created my wireframe. A process that helps me more fully
      visualize how many screens I am going to need to reach each destination
      and what factors need to be on each screen.
    </div>
  </div>
  <img src="./assets/flow-chart-achieveIT.png" alt="" />
</section>
<section class="leftJ section blueBG">
  <div class="textBlock">
    <h3>Ideas to Consider</h3>
    <div>
      I do this step in my process in order to think of factors that I might not
      have thought of yet. I like to do this before I start sketching so that
      when I sketch I will have thought through as much of the design as I can
      before I start drawing in order to draw effective screens.
    </div>
    <ul>
      <li>
        Are there any screens that need keyboards, where?
      </li>
      <li>
        What are the important icons that should be in the navigation bar?
      </li>
      <li>Do I want to use cards?</li>
      <li>
        I need a search bar; how and where do I want to put it?
      </li>
    </ul>

    <h3>Questions Answer Breakdown</h3>
    <ul>
      <li>
        Keyboard needs to be on the screen with the search bar and on the
        journal page if the user decides to type instead of talk.
      </li>
      <li>
        Different: layout, shadows, search bar, icons, time pickers, date
        pickers, headers, placement of icons, colors…
      </li>
      <li>Home, Dream Board, Journal, Movie</li>
      <li>
        Yes, use cards for extra needed information
      </li>
      <li>
        Put search bar in the header and make it expand to the left when clicked
        on
      </li>
    </ul>

    <h3>New Considerations</h3>
    <ul>
      <li>
        Are there other pages that have different options in their navigation
        bar because of what that page needs?
      </li>
      <li>
        Can I use the same color scheme for iOS and Android?
      </li>
    </ul>

    <h3>Sketching</h3>
    <div>
      I used Crazy 8’s for my sketching method in order to rework some ideas and
      screens multiple times quickly. I wanted to display my user flows on paper
      so that I could get my ideas on what each screen will look like from the
      home page to the end destination.
    </div>
  </div>
</section>
<section class="leftJ section">
  <img src="./assets/low-fid.png" alt="" />
</section>
<section>
  <div class="textBlock">
    <h3>Mid-Fidelity Wire Frames and Feedback</h3>
    <div>
      I took my crazy 8’s to Sketch and created wireframes that were uploaded
      into InVision and sent to users for feedback. The Android version was sent
      to Android 3 Android users and the iOS version was sent to 4 iOS users.
    </div>
    <h3>
      Key Finding
    </h3>
    <div>
      Users thought that the app was clean and easy to use. Android and iOS
      users thought that the design fit well with the feel of the device they
      use. However, I find the constructive criticism more useful for the growth
      of the app.
    </div>
    <ul>
      <li>
        Users said that they: don’t understand the visualization page, don’t
        know if they would want to share their goals, and they aren’t sure
        exactly what to do on the Dream Board.
      </li>
      <li>
        My take away: the app needs the option for users to go through a
        tutorial if they want to and since the users aren’t sure if they want to
        share their goals —I’m going to leave the share option just in case they
        want to later.
      </li>
    </ul>
  </div>
  <img src="./assets/mid-fid.png" alt="" />
</section>

<section class="leftJ section blueBG">
  <div class="textBlock styleGuide">
    <h3>Style Guide</h3>
    <div>
      I created a style guide to keep the product true when creating new
      features or updating old features. Red was used to symbolize power and
      blue was used to symbolize loyalty and strength. Typography was chosen off
      of the style guide that keeps each device true to it’ style guide.
    </div>
  </div>

  <img src="./assets/styleGuideAchieve.png" alt="" />
  <div class="textBlock">
    <h4>Testing High Fidelity on Users</h4>
    <div>
      Frames were updated on InVision and sent out to 2 iOS Users and 2 Android
      users. Each user got a user story to follow. Their feedback on the most
      was very positive. The liked the opening message, the option to set
      reminders, the colors, the shapes, and the directions that help them
      understand how to use the app, along with the option to go through an app
      tutorial on the home page.
      <li>
        They did not like that there was not more of the app created so they
        could look through more of the product.
      </li>
    </div>
  </div>
</section>
<section>
  <img src="./assets/final-project.png" alt="" />
</section>
<section class="leftJ section blueBG">
  <div class="textBlock">
    <h3>Project Reflection</h3>
    <h4>
      What went well:
    </h4>
    <ul>
      <li>
        The competitive analysis was very insightful and gave me a better idea
        of what goal-oriented apps where offering to their users.
      </li>

      <li>
        The overall concept came together smoothly and fulfills the original
        problem that users can set a goal and achieve it before they become
        discouraged or lose interest.
      </li>
      <li>
        The app is fun, upbeat, but also have a tone of authority.
      </li>
    </ul>
    <div>
      Is it possible to transfer half of your money to one category and the
      other half to another category in on transfer transaction? If no, will it
      bother users?
    </div>
    <h3>What I Learned:</h3>

    <ul>
      <li>
        Looking at other apps is important to understand what they are offering,
        but also how they are offering it and why their idea is good for the
        user.
      </li>

      <li>
        How to incorporate old ideas into new apps.
      </li>
      <li>
        When sending out InVision links to users, have a better explanation of
        what is going to happen, that there will not be all of the screens
        because this is a beta test and feedback on these screens is what I’m
        looking for. Tell them to look at color, icons, placement, and if it
        feels like you are using an iOS or Android app (depending on what you
        use and what you tested).
      </li>
    </ul>
  </div>
</section>
