<div class="header">
  <div [style.padding-left]="'4rem'">Wells Fargo App</div>
  <div class="spacer"></div>
  <div>Savings Enhancement</div>
  <div class="spacer"></div>
  <div [style.padding-right]="'4rem'">Summer 2019</div>
</div>
<div class="full-width sectionBlock  ">
  <img class="full-width" src="./assets/wFBanner.png" alt="" />
  <div class="disclaimer">
    Disclaimer: I am not an employee of Wells Fargo and this does not represent
    the official strategic direction of Wells Fargo.
  </div>
</div>

<section class="leftJ section blueBG">
  <div class="textBlock">
    <h3>Project Scope:</h3>
    <div>
      <ul>
        <li>
          My Role: User research, product enhancement, and interactive design
        </li>
        <li>Tools: Sketch, InVision, and Mirror</li>
        <li>Team: Me</li>
        <li>Timeline: July 2019 (2 weeks)</li>
        <li>Deliverables: Sketches, mock ups, research findings</li>
      </ul>
    </div>
    <h3>The Problem</h3>
    <div>
      Wells Fargo app users are not able to organize the money that they saved
      in their WAY2 SAVINGS account in order to plan more efficiently with their
      savings.
    </div>
  </div>
</section>
<img src="./assets/story.png" alt="" />
<section class="leftJ section blueBG">
  <div class="textBlock">
    <h3>The Solution</h3>
    <div>
      A feature within the Wells Fargo app that allows the users to file the
      money they have in their savings account into different savings topics if
      the user desires to.
    </div>
    <!-- video -->
    <div class="center">
      <video
        autoplay
        loop
        src="./assets/Wells Fargo Video.mp4"
        type="video/mp4"
        width="220"
      ></video>
    </div>
  </div>
</section>

<section class="leftJ section">
  <div class="textBlock">
    <h3>Forming a Hypothesis</h3>
    <div>
      During this past year, I have faced the problem of wanting a budget within
      my savings for each activity or object I am saving for. As a Wells Fargo
      app user, I had to create a different way of keeping track of money flow
      in order to not over spend on one topic.
    </div>
    <div>
      Before jumping in to any solution, I believe it is important to pinpoint
      the problem, create a hypothesis, and then test it on users. By testing
      the hypothesis problem, I am able to understand it more fully and come to
      a conclusion as to if this problem is a common problem, if it is worth
      fixing, and an effective solution that users want to use.
    </div>
    <h3>My Hypothesis</h3>
    <div>
      I believe Wells Fargo app users over spend from their savings account
      because they are not able to organize the money they have in their savings
      account into categories.
    </div>
    <h3>User Research</h3>
    <div>
      When I had developed this hypothesis, I asked myself; who would want to
      use this feature? What will users feel while using this feature? Will they
      see a need for it? Where can I get feedback?
    </div>
    <h3>Greenhouse by Wells Fargo</h3>
    <div>
      During my research, I found the app called greenhouse. This app is
      designed to help users set aside money for bills, have a spending limit,
      and keep users on track through reminders. Reviews on this app are very
      positive. User after user say that they have a
      <strong>hard time budgeting</strong> , they
      <strong>like separating their weekly expenses</strong>, it
      <strong>brings clarity</strong> to their personal finances, they
      <strong>know where their money is going.</strong>
    </div>
    <div>
      This data states that users like to know exactly where their money is and
      to what purpose it is being used.
    </div>
  </div>
  <img src="./assets/quotes.png" alt="" />
</section>

<section class="leftJ section blueBG">
  <div class="textBlock">
    <h3>User Interviews</h3>
    <div>
      User interviews were conducted in order to get a better understand what
      users would want to see in the new feature and if they would use it. In
      total, I had 4 interviews. One in person and 3 over the phone. During the
      interviews I asked questions such as, “Would you like to have a way to
      categorize your savings?” “Do you already have a system to know what your
      savings is for?” “Do you already have an app linked to your savings
      account?” “Do you feel like there would be a benefit to your savings if
      you had it organized into categories?” “If you had a simple way to
      organize your savings into categories, would you use it?”
    </div>
    <h3>Key Findings</h3>
    <ul>
      <li>
        Users want to organize their savings so they can remember why they are
        saving it.
      </li>
      <li>
        Having categories in the savings account helps couples make goals
        together, and users want that.
      </li>
      <li>
        Users want to organize their savings, but they want it to be easy.
      </li>
    </ul>
    <h3>The Opportunity</h3>
    <div>
      Based on my research, I am confident that Wells Fargo app users will
      benefit from organizing their savings account. If we offer the opportunity
      to Wells Fargo users to organize their savings into categories, users will
      use it because they like the clarity it brings them.
    </div>
    <h3>Design Goals</h3>
    <strong>Easy to use </strong>
    <div>
      Create a way to organize user’s savings into categories with the same
      model that Wells Fargo has already imbedded in users when they transfer
      money.
    </div>
    <strong>Easy to read </strong>
    <div>Design a way for users to see their balances at a glance.Î</div>
  </div>
</section>

<section class="leftJ section">
  <div class="textBlock">
    <h3>Persona Development</h3>
    <div>
      To help me stay on the right track and create the app for my users, I
      created a few personas. Developing personas helped me recollect the
      thoughts and feelings that the Wells Fargo users I interviewed had.
    </div>
  </div>
  <img src="./assets/persona.png" alt="" />
  <div class="textBlock">
    <h3>User Journey Map</h3>
    <div>
      Laying out the journey that the users go through helps me to understand
      what journey I need to follow till completion. By doing this, I can spot
      pain points before I even begin analyzing solutions to the flow and
      design. I based this off of a specific case explained to me through an
      interview.
    </div>
  </div>
  <img src="./assets/colorful-boxes.png" alt="" />
</section>

<section class="leftJ section blueBG">
  <div class="textBlock">
    <h3>
      Exploring Ideas
    </h3>
    <div>
      After getting a better understanding of the problem and the users, I wrote
      down the ideas that I had in order to fix this problem. I asked, “What if
      we” and “Why would we” questions to bring new ideas, but to also eliminate
      ideas that were too far-fetched or off topic.
    </div>
    <h3>How Might We Question:</h3>
    <div>
      How might Wells Fargo create a way for users to get the most organized,
      easy to read savings account?
    </div>
  </div>
  <img src="./assets/problem-pic.png" alt="" />

  <div class="textBlock">
    <div>
      After creating a few solutions, I selected 3 ideas to talk about in more
      detail.
    </div>

    <h4>Idea 1</h4>
    <div>
      Link the savings account to a different app that organizes the savings.
    </div>
    <strong>Pros </strong>
    <div>
      The app would already be set up for exactly what the users are looking for
      and because it would be a whole app, there would be room to expand and
      create new ways to organize and or give users more options on how they
      want to organize.
    </div>
    <strong>Cons</strong>
    <div>
      We would have to find or make an app that users and Wells Fargo have trust
      in along with making it easy for the user to link their Wells Fargo app to
      the other app. Which in the end would probably turn users away because
      they said they want it to be easy.
    </div>

    <h4>Idea 2</h4>
    <div>Within the savings account, split the amount into categories.</div>
    <strong>Pros</strong>
    <div>
      Wells Fargo would be able to add this feature to their app and create a
      flow that users are already familiar with in order to organize their
      savings. The users will trust it because they already trust wells Fargo.
    </div>
    <strong>Cons</strong>
    <div>It could get cluttered on the screens and become confusing.</div>

    <h4>Idea 3</h4>
    <div>
      Create a card to pop up and show users their savings and how they
      organized it.
    </div>
    <strong>Pros</strong>
    <div>
      The card would be very clean and only talk about savings organization. The
      card would be easy to quickly add into the app.
    </div>
    <strong>Cons</strong>
    <div>
      The potential that user will get confused if the card pops up and they
      don’t understand it or how to navigate it. The users wouldn’t be able to
      see their organization in the savings right away.
    </div>
    <h4>Why I Chose Idea 2</h4>
    <div>
      This idea is the best choice when it comes to creating an enhancement to
      the app that Wells Fargo will like and users want to use. Some of the
      reasons:
    </div>
    <ul>
      <li>
        Ease – The product can be created right into what already exists and
        therefore will have about the same user flow to accomplish a new task.
      </li>
      <li>
        Trust – By keeping the savings organizing in the Wells Fargo app, the
        users will keep trusting Wells Fargo and will use the new enhancement.
      </li>
      <li>
        Self-Evident – By adding the new options to the user flow, users will be
        more likely to become curious and learn about organizing their savings.
      </li>
    </ul>
  </div>
</section>

<section class="leftJ section">
  <div class="textBlock">
    <h4>User Flow</h4>
    <div>
      Diagram User flow diagrams get my mind working in the flow that the user
      is going to need to take. What is it that I want to accomplish and what
      are the steps that I am going to need to go through to get there?
    </div>
  </div>

  <img src="./assets/flow-chart.png" alt="" />

  <div class="textBlock">
    <h3>Ideas to Consider</h3>
    <div>
      I do this step in my thought process to help me think of outside factors
      that I will need to address. These are normally small issues that will
      arise in the future, but it is better if I can catch them at this point in
      the process.
    </div>
    <ul>
      <li>How will I add these categories into the money transfer process?</li>
      <li>
        How will we transfer the money out of the categories?
      </li>
      <li>
        Do we want to show a graph?
      </li>
      <li>
        What kind of graph should we show?
      </li>

      <li>
        How will we create the layout so it isn’t too long or large?
      </li>
      <li>
        Do we want it to be a goal oriented or just a savings organizer?
      </li>
    </ul>
  </div>
</section>

<section class="leftJ section blueBG">
  <div class="textBlock">
    <h3>Questions Answer Breakdown</h3>
    <ul>
      <li>
        To keep the flow of the app, we will add the savings categories as a
        drop down the way Wells Fargo already does it with their accounts.
      </li>
      <li>
        Transferring the money out will be the same way that the user
        transferred it in.
      </li>
      <li>
        Graphs are good, colors and visuals are nice. We do not want to make it
        a goal app, but just a reflection of the different categories in the
        savings account.
      </li>
      <li>
        We will use a pie graph to keep the graph from growing too large.
      </li>
    </ul>

    <h3>New Considerations</h3>
    <ul>
      <li>
        Will we let the users choose their colors (right away or as an Easter
        egg)?
      </li>
      <li>
        Do we want to have percentages or numbers at all on the pie graph?
      </li>
    </ul>
    <h3>Sketching</h3>

    <div>
      During sketching I played with the idea of cards as an option to see
      information or putting it directly on the screen. Directly putting it on
      the screen had a cleaner look and felt like it fit with the Wells Fargo
      feeling.
    </div>
  </div>

  <img src="./assets/low-fidelity.png" alt="" />
</section>

<section class="leftJ section ">
  <div class="textBlock">
    <h3>Testing and Iterating</h3>
    <div>
      After exploring a few different ideas, I did qualitative testing with a
      few screens to more fully understand what the users prefer. I then mocked
      up my screens in sketch and used InVision to build my prototype.
    </div>
  </div>
  <img src="./assets/3-scenarios.png" alt="" />
</section>

<section class="leftJ section blueBG">
  <div class="textBlock">
    <h3>
      Research Findings:
    </h3>
    <ul>
      <li>
        Users did not like the title, “Available balance not assigned to Saving
        Category”. They preferred, “Unassigned balance”.
      </li>
      <li>
        Users did not like the title, “Available balance not assigned to Saving
        Category”. They preferred, “Unassigned balance”.
      </li>
      <li>
        Users liked that the new screens had the same set up as the Wells Fargo
        user flow, it made it easy to understand what was happening and what to
        do next.
      </li>
    </ul>
    <h3>
      Revisiting the Persona and Problem
    </h3>
    <div>
      The new user flow will give Steph (the persona) a more valued experience
      at Wells Fargo by providing her with the opportunity to organize her
      savings in hopes of helping her reach her individual savings needs.
    </div>
    <h3>
      Persona Story
    </h3>
    <div>
      Steph just received her biweekly check which was deposited into her
      checking account the way she prefers it. She goes into her app and hits
      transfer money. She takes half of her check and puts it towards her house
      savings.
    </div>
    <div>
      She’s not quite sure where she wants to put the rest of her money so she
      puts it into her savings account, but unassigned.
    </div>

    <div>
      Later that night her fiancé calls her and asks her if she has started
      planning for the wedding! She lets him know that she’s been thinking about
      it but hasn’t bought or saved for it. Then she remembers, $900 are sitting
      in her savings unassigned. She puts her phone on speakers, opens her Wells
      Fargo app, transfers her money from unassigned balance into a new
      category, wedding!
    </div>
    <div>
      Steph then lets her fiancé know that they are actually $900 closer to
      their dream wedding and she can’t wait to add more to her wedding savings
      category.
    </div>
  </div>
  <img src="./assets/final-product.png" alt="" />
</section>

<section class="leftJ sectionBlock">
  <div class="textBlock">
    <h3>Next Steps and Considerations:</h3>
    <div>
      Is it possible to transfer half of your money to one category and the
      other half to another category in on transfer transaction? If no, will it
      bother users?
    </div>
    <h3>What Made this Successful</h3>
    <div>
      Is it possible to transfer half of your money to one category and the
      other half to another category in on transfer transaction? If no, will it
      bother users?
      <ul>
        <li>
          Understanding the need of the users. Good UX is solving a problem that
          the users did not even know that they had, while good UI is creating
          the Wells Fargo feeling throughout the new design.
        </li>
        <li>
          Diving into the problem. Fully grasping the problem and what the users
          can obtain by fixing it can set the right mood for the project from
          the beginning
        </li>
        <li>
          Most helpful for me was getting user feedback. Each time the users got
          back to me I was able to refine the design, the wording, and the
          placement in order to keep the Wells Fargo feel.
        </li>
      </ul>
    </div>
  </div>
</section>
