/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1,
h2,
h3,
h4 {
  color: white;
}

html,
.black {
  color: black;
}

.noPadding {
  .mat-dialog-container {
    padding: 0;
  }
}
