/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./layout.scss";

h1,
h2,
h3,
h4,
.white {
  color: white;
}

html,
.black {
  color: black;
}

.noPadding {
  .mat-dialog-container {
    padding: 0;
  }
}

.sectionBlock {
  justify-content: center;
  width: 80%;
  margin: 0 auto 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  text-align: center;
}
.leftJ {
  text-align: left;
}
.full-width {
  width: 100%;
}

.spacer {
  flex-grow: 1;
}

.whiteBG {
  background: white;
}

.center {
  text-align: center;
  padding: 2rem 0;
}
.blueBG {
  background: #f4f6f7;
}

.textBlock {
  width: 80%;
  margin: 0 auto 0 auto;
}
.section {
  justify-content: center;
  margin: 0 auto 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

.paddingTop {
  padding-top: 2rem;
}

.paddingB {
  padding-bottom: 3rem;
}
.paddingL {
  padding-left: 2rem;
}
.paddingR {
  padding-right: 4rem;
}

@media #{$above-small} {
  .textBlock {
    width: 50%;
  }
}
